<div class="main-page">
  <div class="main-container">
    <h1 class="header">EventPendingCalendar</h1>
    <h2 class="sub-header">Plan your next event!</h2>

    <div class="login-modal">
      <mat-form-field class="email-field" appearance="fill">
        <mat-label>Email: </mat-label>
        <input
          matInput
          placeholder="John@example.com"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="password-field" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button class="login" color="primary">Login</button>
      <mat-divider></mat-divider>
      <button mat-raised-button class="sign-up">Sign Up</button>
    </div>
  </div>
</div>
