<div class="box-thing">
    <h1 class="header">EventPendingCalendar</h1>
    <h2 class="sub-header">Plan your next event!</h2>

    <div class='login-modal'>
        <mat-form-field appearance='fill'>
            <mat-label>Email: </mat-label>
            <input matInput placeholder="John@example.com" [formControl]='email' required>
            <mat-error *ngIf='email.invalid'>{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>
</div>